*
body {

    padding: 0;
    margin: 0;
    background-color: #a02b17;

}

#conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
    background-color: beige;
    padding: 80px;
    border-radius: 8px;
    width: 280px;
}

.card-header{
    margin-top: 12px;
    padding-bottom: 20px;
    color: black;
    font-size: 24px;

}

.card-content label {

    color: #961903;
    font-size: 20px;
}

.card-content-area {

    display: flex;
    flex-direction: column;
    padding: 25px 0;

}
.card-content-area input {

    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #961903;
    outline: none;

}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn button{
    background-color: #da3a1e;
    height: 35px;
    width: 110px;
    border: none;
    border-radius: 50px;
    color: beige;
    font-size: 16px;
    cursor: pointer;
    
}

.btn button:hover{
    background-color: #a02b17;
}

.card-recuperar div{
    flex-direction: column;
    margin:3%;
}

